* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e1be71;
}

svg {
  flex-shrink: 0;
  background: white;
  margin: 2rem 0;

  circle {
    fill: red;
  }

  path {

    fill: #742748;
    stroke: #742748;

    &.no-fill {
      fill: none;
    }
  }
}